# Subversion admin
.svn/

# Generated model exports (mirror your SVN ignores)
exports/**/*.obj
exports/**/*.mtl
exports/**/*.h2b

# Keep text exports tracked
!exports/**/*.json
!exports/**/*.xml

# OS junk
Thumbs.db
Desktop.ini

# IDE/editor
.vscode/
.idea/

# Logs / temp / backups
*.log
*.bak
*.max.lock
*.tmp
*.blend1

*.zip
